
#{ Type}:{ Subject}
#

#{ Body}
#

#{ Footer}
#

#-------参数说明------
#{ Type}, { Subject} 不能为空
#{ Body}, { Footer} 前必须空一行
#{ Type} 必须是以下类型之一
#    feat:新功能
#    fix:修复bug
#    style:格式变动，不影响代码运行
#    refactor:重构
#    perf:新能优化
#    test:增加测试
#    docs:文档
#    chore：构建过程或辅助工具的变动
#{ Subject} 摘要，概述。一句话描述本次提交的目的，不能为空
#{ Body}
#{ Footer}
#     BREAKING CHANGE:不兼容的改动
#     close：关闭issue。如#123, #245, #992O 。 close: #BOS-1273